.additional-info-container {
    font-size: small;
    color: gray;
    display: flex;
    align-items: center;
    .additional-info-content {
        flex: 1;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .additional-info-image {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 0.2rem;
    }
}
